<div class="catlist">
    <div class="container">
        <div class="title-group1">
            <h2>Top Categories</h2>
        </div> 
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="image-cat">
                            <a href="#/"><img alt="Electronic" src="/assets/img-05.jpg"></a>
                        </div>
                    </div>
                    <div class="col-xs-6">
                    
                        <div class="name-cat"><h3><%#= topcategories[0].name %></h3></div>
                        <%#= link_to 'View', detail_path(topcategories[0]), class: 'view-more' %>
                    </div>
                </div>
                <div class="list-cat">
                    <ul>
                        <li><a href="#">Batteries &amp; Chargers</a></li>
                        <li><a href="#">Headphone, Headset</a></li>
                        <li><a href="#">Home Audio</a></li>
                        <li><a href="#">Mp3 Player Accessories</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="image-cat">
                            <a href="#/"><img alt="Electronic" src="/assets/img-06.jpg"></a>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="name-cat"><h3><%#= topcategories[1].name%></h3></div>
                       <%#= link_to 'View', detail_path(topcategories[1]), class: 'view-more' %>
                    </div>
                </div>
                <div class="list-cat">
                    <ul>
                        <li><a href="#">Men Watches</a></li>
                        <li><a href="#">Wedding Rings</a></li>
                        <li><a href="#">Earring</a></li>
                        <li><a href="#">Necklaces</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="image-cat">
                            <a href="#/"><img alt="Electronic" src="/assets/img-07.jpg"></a>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="name-cat"><h3><%#= topcategories[2].name %></h3></div>
                       <%#= link_to 'View', detail_path(topcategories[2]), class: 'view-more' %>
                    </div>
                </div>
                <div class="list-cat">
                    <ul>
                        <li><a href="#">Accessories for iPhone</a></li>
                        <li><a href="#">Accessories for iPad</a></li>
                        <li><a href="#">Accessories for Tablet PC</a></li>
                        <li><a href="#">Tablet PC</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="image-cat">
                            <a href="#/"><img alt="Electronic" src="/assets/img-08.jpg"></a>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="name-cat"><h3><%#= topcategories[3].name %></h3></div>
                        <%#= link_to 'View', detail_path(topcategories[3]), class: 'view-more' %>
                    </div>
                </div>
                <div class="list-cat">
                    <ul>
                        <li><a href="#">Walkera</a></li>
                        <li><a href="#">Fpv System &amp; Parts</a></li>
                        <li><a href="#">RC Cars &amp; Parts</a></li>
                        <li><a href="#">Helicopters &amp; Part</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.catlist -->

<div class="brands">
    <div class="container">
        <div class="title-group1">
            <h2>popular brand</h2>
        </div>
        <div id="brands" class="owl-container">
            <div class="owl">
                <div class='item'>
                    <div class="item-innner">
                        <a href="#" title=""><img src="/assets/logo_brand5.png" alt="" /></a>
                    </div>
                </div>
                <div class='item'>
                    <div class="item-innner">
                        <a href="#" title=""><img src="/assets/logo_brand4.png" alt="" /></a>
                    </div>
                </div>
                <div class='item'>
                    <div class="item-innner">
                        <a href="#" title=""><img src="/assets/logo_brand3.png" alt="" /></a>
                    </div>
                </div>
                <div class='item'>
                    <div class="item-innner">
                        <a href="#" title=""><img src="/assets/logo_brand2.png" alt="" /></a>
                    </div>
                </div>
                <div class='item'>
                    <div class="item-innner">
                        <a href="#" title=""><img src="/assets/logo_brand1.png" alt="" /></a>
                    </div>
                </div>
                <div class='item'>
                    <div class="item-innner">
                        <a href="#" title=""><img src="/assets/logo_brand3.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </div><!-- /#brands -->
    </div>
</div><!-- /.brands -->

<div class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 hidden-sm hidden-xs">
                    <div class="subscribe">
                        <div class="subscribe-inner">
                            <h3>Sign up for newsletter</h3>
                            Duis autem vel eum iriureDuis autem vel eum
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-8">
                    <form method="post" class="form-inline form-subscribe">
                        <div class="form-group">
                            <input type="text" class="form-control" id="newsletter" name="email">
                        </div>
                        <button class="btn btn-danger" title="Subscribe" type="submit">Subscribe</button>
                    </form>
                </div>
                <div class="col-md-3 col-sm-4">
                    <ul class="social">
                        <li><a href="#" class="face">face</a></li>
                        <li><a href="#" class="google">google</a></li>
                        <li><a href="#" class="twitter">twitter</a></li>
                        <li><a href="#" class="youtube">youtube</a></li>
                        <li><a href="#" class="linkedin">linkedin</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- /.footer-top -->
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="footer-title">
                        <h2>contact us</h2>
                    </div>
                    <div class="footer-content">
                        <div class="email add">
                            <p>Support@plazathemes.com</p>
                        </div>
                        <div class="phone add">
                            <p>(800) 0123 456 789</p>
                        </div>
                        <div class="address add">Address: 
                            <p>1234 - Bandit Tringi lAliquam Vitae. New York</p>
                        </div>
                        <div class="contact-link"><a href="#" class="btn btn-default">Open in Google Maps</a></div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="footer-title">
                        <h2>MY ACCOUNT</h2>
                    </div>
                    <div class="footer-content">
                        <ul>
                            <li><a href="#">Sitemap</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Your Account</a></li>
                            <li><a href="#">Advanced Search</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="footer-title">
                        <h2>Payment &amp; Shipping</h2>
                    </div>
                    <div class="footer-content">
                        <ul>
                            <li><a href="#">Terms of Use</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Shipping Guide</a></li>
                            <li><a href="#">Locations We Ship To</a></li>
                            <li><a href="#">Estimated Delivery Time</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="footer-title">
                        <h2>Customer Service</h2>
                    </div>
                    <div class="footer-content">
                        <ul>
                            <li><a href="#">Shipping Policy</a></li>
                            <li><a href="#">Compensation First</a></li>
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Return Policy</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="copy">Copyright &copy; 2015 Plazathemes. All Rights Reserved</div>
                </div>
                <div class="col-sm-6">
                    <div class="payment"><img src="images/payment.png" alt="" class="img-responsive"></div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.footer -->
