<div id="ad_menu_top"></div>
<div id="ad_content">
	<div id="ad_sidebar">
       <div style="padding-top: 19px; padding-left: 15px;">
         <input type="text" name="search" class="form-control" style="width: 200px">
       </div>
        <button type="button" class="btn btn-default" style=" margin-top: -57px; margin-left: 174px;"> 
      <span class="glyphicon glyphicon-search"></span> 
     </button>
      <div id="content_sidebar">
        <ul>
          <li id="a"><a href="#"><span class="glyphicon glyphicon-plus-sign"></span></a>&nbsp;Category
            <div class="subcate" style="display: none;">
            <% @categories.each do |category| %>
              <ul>
                <li id="list">&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-play"></span>&nbsp;<%= link_to category.name, admin_category_path(category.id), remote: true %></li>
              </ul>
              <% end %>
            </div>
          </li>
          <li id="a2"><a href="#"><span class="glyphicon glyphicon-plus-sign"></span></a>&nbsp;Chart
          </li>
          <li id="a3"><a href="#"><span class="glyphicon glyphicon-plus-sign"></span></a>&nbsp;User
          </li>
        </ul>
    </div>               
</div>
  <div id="ad_content_product" style=""></div>
<script>
$(document).ready(function(){
    $("#a").click(function(){
        $(".subcate").slideToggle("slow");
    });
    $("#a1").click(function(){
        $(".subcate1").slideToggle("slow");
    });
    $("#a2").click(function(){
        $(".subcate2").slideToggle("slow");
    });
    $("#a3").click(function(){
        $(".subcate3").slideToggle("slow");
    });
});
</script>